

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- icon on the page -->
    <link rel="icon" href="https://maxcdn.icons8.com/windows8/PNG/26/DIY/paint_brush-26.png">

    <title>My Site - Art</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <!-- stylesheet-->
    <link rel="stylesheet" media="screen and (min-device-width: 1000px)" href="style-comp.css" />
    <link rel="stylesheet" media="screen and (min-width: 0px) and (max-width: 1000px)" href="style-mobile.css" />
     <script src="script.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

   <!-- body set to a dark purple color-->
   <body class="background" ng-app="app">
    <!-- sets a navigation bar at the top of the page, color changed to purple -->
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- collapses the navigation bar -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- sets the brand to my name and makes it link to the front page -->
          <div class="navbar-left"><img src="img\logowhite.png" title="logo" width="70"></div>
        </div>
         <!-- here I initialize the tabs and which one is active -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li class="active"><a href="art.html">2D Art</a></li>
            <li><a href="3Dart.html">3D Art</a></li>
              <li><a href="resume.html">Resume</a></li>
             <li><a href="projects.html">Projects</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>  
    
    <div class ="text-center">
      <!-- add a header to the page -->
      <div class="page-top">
        <h1>2D ART</h1>
      </div>
      <hr>
      
      <!-- well holding introduction to page content -->
      <div class="well container-small" > 
        <h4>  
           Here is a brief timeline of my journey through 2D art 
        </h4>
      </div>
      
      <!-- class that adds a vertical line for the timeline on the left -->
        <!-- timeline id changes the formatting into boxes based on the container and sets image sizes -->
        <div class="timeline" ng-controller="MainCtrl">

          <!-- start of timeline. Date box -->
          <h3><span class="alert">January 2016 - Present</span></h3>
          <br>


          <!-- container with specific time ranges -->
            <div class="container-small text-center">
              <h4 style="color:rgb(40,40,40)">This background was created for Shiny Bolt Games for the sky box.</h4> </br>
             

                  <img id="imageresource" src="img\front.png">
              
            </div>

          <h3><span class="alert">August 2015 - Present</span></h3>
          <br>


          <!-- container with specific time ranges -->
            <div class="container-small text-center">

              <a href="#" ng-click="seturl('http://pre13.deviantart.net/688b/th/pre/i/2015/221/d/7/lion_portrait_by_noctualis-d94ypvl.png')" data-toggle="modal" data-target="#myModal">

                  <img id="imageresource" src="http://pre13.deviantart.net/688b/th/pre/i/2015/221/d/7/lion_portrait_by_noctualis-d94ypvl.png">
              </a>
                 <a href="#" ng-click="seturl('http://pre08.deviantart.net/4012/th/pre/i/2015/220/f/4/deer_by_noctualis-d94uvrc.png')" data-toggle="modal" data-target="#myModal">

                  <img id="imageresource" src="http://pre08.deviantart.net/4012/th/pre/i/2015/220/f/4/deer_by_noctualis-d94uvrc.png">
              </a>
              <a href="#" ng-click="seturl('http://pre08.deviantart.net/079b/th/pre/i/2015/291/7/6/unsignedfinish_by_noctualis-d9dmlvc.png')" data-toggle="modal" data-target="#myModal">

                  <img id="imageresource" src="http://pre08.deviantart.net/079b/th/pre/i/2015/291/7/6/unsignedfinish_by_noctualis-d9dmlvc.png">
              </a>
              <a href="#" ng-click="seturl('http://pre00.deviantart.net/2d1e/th/pre/i/2015/269/9/f/emperor_by_noctualis-d9b0qcm.png')" data-toggle="modal" data-target="#myModal">

                  <img id="imageresource" src="http://pre00.deviantart.net/2d1e/th/pre/i/2015/269/9/f/emperor_by_noctualis-d9b0qcm.png">
              </a>
              <a href="#" ng-click="seturl('http://pre01.deviantart.net/c619/th/pre/i/2015/271/5/c/ponyta_by_noctualis-d9b5l9y.png')" data-toggle="modal" data-target="#myModal">

                  <img id="imageresource" src="http://pre01.deviantart.net/c619/th/pre/i/2015/271/5/c/ponyta_by_noctualis-d9b5l9y.png">
              </a>
            
             
            </div>

          <h3><span class="alert">January 2015 - July 2015</span></h3>
          <br>

          <!-- container with specific time ranges -->
            <div class="container-small text-center">
               <a href="#" ng-click="seturl('http://pre05.deviantart.net/ac79/th/pre/i/2015/018/0/c/igni___creatures_of_renewal_by_noctualis-d8eg7cm.png')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre05.deviantart.net/ac79/th/pre/i/2015/018/0/c/igni___creatures_of_renewal_by_noctualis-d8eg7cm.png">
              </a>
               <a href="#" ng-click="seturl('http://pre13.deviantart.net/2905/th/pre/i/2015/127/f/a/bumblebee__by_noctualis-d8sik89.png')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre13.deviantart.net/2905/th/pre/i/2015/127/f/a/bumblebee__by_noctualis-d8sik89.png">
              </a>
               <a href="#" ng-click="seturl('http://img09.deviantart.net/8894/i/2015/172/1/1/gryphon_by_noctualis-d8y8x6q.png')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://img09.deviantart.net/8894/i/2015/172/1/1/gryphon_by_noctualis-d8y8x6q.png">
              </a>
               <a href="#" ng-click="seturl('http://pre08.deviantart.net/ddee/th/pre/i/2015/173/5/2/fox_by_noctualis-d8ydzzp.png')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre08.deviantart.net/ddee/th/pre/i/2015/173/5/2/fox_by_noctualis-d8ydzzp.png">
              </a>
               <a href="#" ng-click="seturl('http://pre10.deviantart.net/cd6d/th/pre/i/2015/063/b/9/cheetah_cub_by_noctualis-d8kfnnv.png')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre10.deviantart.net/cd6d/th/pre/i/2015/063/b/9/cheetah_cub_by_noctualis-d8kfnnv.png">
              </a>
               <a href="#" ng-click="seturl('http://pre01.deviantart.net/b6b3/th/pre/i/2015/138/3/5/puffball_by_noctualis-d8twzz5.png')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre01.deviantart.net/b6b3/th/pre/i/2015/138/3/5/puffball_by_noctualis-d8twzz5.png">
              </a>
   
            </div>


          <!-- Box with new year on it -->
          <h3><span class="alert">August 2014 - December 2014</span></h3>
          <br>
          <!-- container with more date ranges -->
            <div class="container-small text-center">
               <a href="#" ng-click="seturl('http://orig05.deviantart.net/6bb0/f/2014/242/4/4/froggie_by_noctualis-d7xaw5m.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://orig05.deviantart.net/6bb0/f/2014/242/4/4/froggie_by_noctualis-d7xaw5m.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre13.deviantart.net/d766/th/pre/i/2014/260/6/b/siphonophore_by_noctualis-d7zjl7d.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre13.deviantart.net/d766/th/pre/i/2014/260/6/b/siphonophore_by_noctualis-d7zjl7d.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre01.deviantart.net/3106/th/pre/i/2014/349/6/3/sketchdaily__8__english_foxhound_by_noctualis-d89xzch.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre01.deviantart.net/3106/th/pre/i/2014/349/6/3/sketchdaily__8__english_foxhound_by_noctualis-d89xzch.jpg">
              </a>
               <a href="#" ng-click="seturl('http://orig04.deviantart.net/3b24/f/2014/350/a/6/sketchdaily__9___border_collie__by_noctualis-d8a35bm.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://orig04.deviantart.net/3b24/f/2014/350/a/6/sketchdaily__9___border_collie__by_noctualis-d8a35bm.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre10.deviantart.net/8146/th/pre/f/2014/354/e/9/sketchdaily__13___pout_by_noctualis-d8ak93t.png')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre10.deviantart.net/8146/th/pre/f/2014/354/e/9/sketchdaily__13___pout_by_noctualis-d8ak93t.png">
              </a>
               <a href="#" ng-click="seturl('http://pre14.deviantart.net/d37e/th/pre/f/2014/307/6/f/reflection_by_noctualis-d856e9v.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre14.deviantart.net/d37e/th/pre/f/2014/307/6/f/reflection_by_noctualis-d856e9v.jpg">
              </a>
               <a href="#" ng-click="seturl('http://orig03.deviantart.net/481d/f/2014/238/6/b/steller_s_jay_by_noctualis-d7wsv45.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://orig03.deviantart.net/481d/f/2014/238/6/b/steller_s_jay_by_noctualis-d7wsv45.jpg">
              </a>
  
            </div>

          <h3><span class="alert">January 2014 - July 2014</span></h3>
          <br>
          <!-- container with more date ranges -->
            <div class="container-small text-center">
               <a href="#" ng-click="seturl('http://img02.deviantart.net/97e7/i/2014/186/3/8/clouds_by_noctualis-d7pdqzj.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://img02.deviantart.net/97e7/i/2014/186/3/8/clouds_by_noctualis-d7pdqzj.jpg">
              </a>
               <a href="#" ng-click="seturl('http://orig13.deviantart.net/c3f5/f/2014/196/f/8/blue_bird_by_noctualis-d7qt0ns.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://orig13.deviantart.net/c3f5/f/2014/196/f/8/blue_bird_by_noctualis-d7qt0ns.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre12.deviantart.net/f15e/th/pre/i/2014/162/e/6/lion_by_noctualis-d7lylpl.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre12.deviantart.net/f15e/th/pre/i/2014/162/e/6/lion_by_noctualis-d7lylpl.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre09.deviantart.net/9f5d/th/pre/i/2014/163/1/4/cheetah_in_the_sun_by_noctualis-d7m47xv.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre09.deviantart.net/9f5d/th/pre/i/2014/163/1/4/cheetah_in_the_sun_by_noctualis-d7m47xv.jpg">
              </a>
               <a href="#" ng-click="seturl('http://img14.deviantart.net/e2ef/i/2014/184/e/4/teto_playing_with_his_friend_by_noctualis-d7p2s09.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://img14.deviantart.net/e2ef/i/2014/184/e/4/teto_playing_with_his_friend_by_noctualis-d7p2s09.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre05.deviantart.net/b6b3/th/pre/i/2014/161/3/1/industrial_tiger_by_noctualis-d7ltxkn.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre05.deviantart.net/b6b3/th/pre/i/2014/161/3/1/industrial_tiger_by_noctualis-d7ltxkn.jpg">
              </a>
              
            </div>
            <!-- divide boxes -->

          <!-- last year box -->
          <h3><span class="alert">2007-2013</span></h3>
          <br>
          <!-- range of art -->
            <div class="container-small text-center">
               <a href="#" ng-click="seturl('http://img09.deviantart.net/e308/i/2014/152/e/6/conflict_by_noctualis-d7ko7z3.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://img09.deviantart.net/e308/i/2014/152/e/6/conflict_by_noctualis-d7ko7z3.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre00.deviantart.net/b7b3/th/pre/i/2014/152/6/f/organic_still_life_by_noctualis-d7koi7n.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre00.deviantart.net/b7b3/th/pre/i/2014/152/6/f/organic_still_life_by_noctualis-d7koi7n.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre09.deviantart.net/1ffd/th/pre/i/2014/152/e/8/crane_love_by_noctualis-d7kolh4.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre09.deviantart.net/1ffd/th/pre/i/2014/152/e/8/crane_love_by_noctualis-d7kolh4.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre08.deviantart.net/e3d3/th/pre/i/2014/152/5/2/foot_by_noctualis-d7kocvx.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre08.deviantart.net/e3d3/th/pre/i/2014/152/5/2/foot_by_noctualis-d7kocvx.jpg">
              </a>
               <a href="#" ng-click="seturl('http://pre15.deviantart.net/66e3/th/pre/i/2014/152/d/b/cheetah_by_noctualis-d7koid9.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://pre15.deviantart.net/66e3/th/pre/i/2014/152/d/b/cheetah_by_noctualis-d7koid9.jpg">
              </a>
               <a href="#" ng-click="seturl('http://img12.deviantart.net/627c/i/2014/152/9/6/who_am_i__by_noctualis-d7ko8wt.jpg')" data-toggle="modal" data-target="#myModal">
                  <img id="imageresource" src="http://img12.deviantart.net/627c/i/2014/152/9/6/who_am_i__by_noctualis-d7ko8wt.jpg">
              </a>

            </div>
     


    <div id= "myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body" ng-repeat="do in pics">
              <img ng-src="{{do}}" style="width:100%; height: auto;" >

            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- Icons provided by Icons8 -->

      
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
