.background{
	background-color: #292B2B;
}

.down {
		padding-top: 120px;
}
.filters{
	padding-top: 100px;
}
.page-title {
	color: #54B2C8;
	text-align: center;
}
.title{
	font-size: 40px;
}
.subtitle{
	font-size: 25px;
}
.header{
	color: #54B2C8;
}
@media all and (min-width: 767px) {
	.nav-contain{
		margin-left:auto;
	    margin-right:auto;
	    width: 725px;
	/*    background-color: grey;*/
	}
	.home-appear{
	display: none !important;
	}
	/*move menu text down*/
	.buffer{
		padding-top: 60px;
	}
}
.navbar{
  background-color: #212121;
  border-bottom: none;
/*  border-bottom: 2px solid;*/
/*  border-color: #0C7387;*/
}

.pad-top{
	padding-top: 25px;
}
.navbar-inverse .navbar-nav > li > a {
	padding-top: 4px;
	padding-bottom: 5px;
    color: white; /*Change active text color here*/
    font-size:25px;
    }
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #212121;
  color: #54B2C8;

}
.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active> a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #212121;
    color: #54B2C8;
    
}
@media all and (max-width: 767px) {
	.logo-appear{
		display:none;
	}
	.home-appear{
		display:block !important;
	}
	/*move text down*/
	.buffer{
		padding-top: 20px;
	}
}


.text{
	color: #DAD2D1;
}
.textlink{
	color: #D78380;
}
.textlink:hover{
	text-decoration: none;
	color: #D73423;
}
.textmid{
	text-align: center;
}
.resume{
	max-width: 100%;
	max-height:1000px;
}
.padding{
  max-width:100%;
  padding-top: 10px;
  padding-bottom: 20px; 
  padding-left:50px;
  padding-right:50px;
}
.btn-filter{
	letter-spacing: 2px;
	background: none !important;
	padding: 5px 15px;
    font-weight: 600;
    font-size: 10px;
    font-family: "Verdana";
    text-transform: uppercase;
  	border: 2px solid #D78380;
  	color: #D78380;
    margin-left:6px;
    margin-right:6px;

}
.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active,
.btn-filter.active {
  background-color: rgba(215,131,128,.35) !important;
  color: rgb(215,171,178);

}
@media all and (min-width: 767px) {
	.group {
	  display: inline-block;
	  width:33.33333%;
	  height: 33.33333vw;
	}
	.hover:hover span.image_title{
	opacity:1;
}

span.image_title{
	background:rgba(0,0,0,0.4);
	color: white;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom:0;
	top:0;
	width: 100%;
	height:100%;
	display:table;
	opacity:0;
	
}
}
@media all and (max-width: 767px) {
	.group {
	  display: inline-block;
	  width:100%;
	  height:100vw;
	  padding-bottom: 15px;
	}
	.hover span.image_title{
	opacity:1;
}

span.image_title{
	background:rgba(0,0,0,0.4);
	color: white;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom:0px;
	/*top:100px;*/
	width: 100%;
	height:20%;
	display:table;
	opacity:0;
	border-bottom: 5px solid rgb(0,0,0);  
	
}
}

/*span.image_title{
	background:rgba(0,0,0,0.4);
	color: white;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom:0;
	top:0;
	width: 100%;
	height:100%;
	display:table;
	opacity:0;
	
}*/
span.image_title span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}



.imagesize{
	position: relative;
	height: 100%;
	width: 100%;
}

.imagesource{
	width: 100%;
	height: 100%;
}
.textbox{
	background-color: #212121;
	border: 2px solid rgba(84,178);
	padding: 20px;
	margin-top: 10px;
	margin-right: 10px;
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer{
	background-color: #212121;
	color: #616161;
	padding: 20px;
	text-align: center;
	
}
#footer{

}
.totop{
	padding: 15px;
}
.fa{
	color: #54B2C8;
}
.fa-text{
	padding-left: 10px;
}
@media all and (min-width: 767px) {
	.backbutton{
	position: absolute;
	left: 50px;
	color: #54B2C8;
	font-size: 17px;
	}
}
@media all and (max-width: 767px) {
	.backbutton{
	position: absolute;
	left: 10px;
	top: 45px;
	color: #54B2C8;
	font-size: 17px;
	}
}
.backfoot{
	float:left;
}

.backfoot:hover,
.backfoot:focus,
.backfoot:active,
.backfoot.active {
  color: #63D1EB;
  cursor: pointer;
  font-size: 14px;

}
.fa-caret-left{
	float: left;
}

.backbutton:hover,
.backbutton:focus,
.backbutton:active,
.backbutton.active {
  color: #63D1EB;
  cursor: pointer;
    font-size: 20px;

}
.uptext{
	float: right;
}
.fa-caret-up{
	float: right;
   	width:30px;   
 	text-align:center;
}
.fa-caret-up:hover,
.fa-caret-up:focus,
.fa-caret-up:active,
.fa-caret-up.active {
  color: #63D1EB;
  cursor: pointer;
    font-size: 60px;

}

.gallery_page{
	display: inline-block;
}
@media all and (min-width: 767px) {
	.contain_gallery{
padding-left: 50px;
padding-right: 50px;
text-align: center;
}
}


.gallery_image{
	width: 400px;
	padding: 10px;

}

.modal-header {
   background-color: #3A3D3D;
   border-bottom: 1px solid #54B2C8;
}
.modal-body{
	background-color: #212121;
}


.btn-default{
	background-color: rgba(0,0,0,0);
	border: 0px;
	padding-left: 30px;
	padding-right:30px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
	background-color: rgba(0,0,0,.50);
	border: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
.digital {
	width: 45% ;
	display: inline-block;
}
.leftArrow{
	position: absolute;
	top: 50%;
	left: -100px;
}
.rightArrow{
	position: absolute;
	top: 50%;
	right: -100px;
}
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	background:#ffab62;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

