/*style.css*/

body {
	padding-top: 55px
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
#padding{
  padding-top: 10px;
  padding-bottom: 20px; 
  font-size:20px;
}
#padding p{
  font-size: 25px
}
h1{
  font-family:Helvetica;
}
h2 { 
   position: absolute; 
   top: 10%; 
   left: 45%; 
   width: 100%; 
   color: rgb(120,120,120);
   background-color: rgba(0,0,0,.85);
     padding: 10px;
}
 #resizeable img{
  height:auto;
  width:30%;
}
.verticalLine {
  padding-left: 100px;
  padding-right: 100px;
  border-left: thick solid #FAF7FF;
}

#timeline p{
   width: 200px;
   max-width: 100%;

   padding: 20px;
   border:5px;

   background-color: white;
}

#timeline img{
  height: 200px;
}
.container-small {
        max-width: 100%;
        width: 2000px;
        padding: 20px;
        background-color: white;
}
#sketchfab {
  padding-left: 100px;
  padding-right: 100px;
}