/*style for larger windows. Used for computer screens. */
.background {
  background-color: #DDEBEA;
}
/*body padding so it isn't overlapping the navbar*/
body {
	padding-top: 55px
}

/*background settings for the front page.*/
.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
/*image specifications for the background of the front page. Used to make sure the image will scale with the window size. */
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
/*sets this header to appear in an absolute position. This is so that the information is highlighted on the front page*/
h2 { 
  position: absolute; 
  top: 10%; 
  left: 45%; 
  width: 55%; 
  color: rgb(180,180,180);
  background-color: rgba(0,0,0,.85);
  padding: 10px;
}
/*this is for the colored sections. It adds padding on all sides of the screen. Sets the default font size as well*/
.padding{
  max-width:100%;
  padding-top: 10px;
  padding-bottom: 20px; 
  padding-left:50px;
  padding-right:50px;
  font-size:20px;
}

/*styled the h1 tag to have its own font*/
h1{
  font-family:Helvetica;
}
/* the resizable id allows for the image to scale in their current formatting on the about page*/
.resizable img{
  height:auto;
  width:30%;
}
/*timeline h1 set to */
.alert{
  font-family:Helvetica;
   max-width: 100%;
   padding: 20px;
   background-color: #82A6AD; 
   color:white
}
.timeline{
  padding-left: 50px;
  padding-right:50px;
}
/*timeline images are set to a certain height to add organization*/
.timeline img{
  height: 200px;
  max-width:100%;
}
.renderimage img{
   height: 500px ;
}
.sculpture img{
   height: 300px ;
}
/*small container for the timeline*/
.container-small {
  max-width: 100%;
  width: 2000px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #BCD7DA;
}
/*sketchfab padding*/
.sketchfab {
  padding-left: 150px;
  padding-right: 150px;
}
.prismavid {
  padding-left: 300px;
  padding-right: 300px;
}
.page-top{
  padding-top:10px;
  color: black;
}
.navbar{
  background-color: #333B40;
  padding-top:1px;
}
 .navbar-text{
  font-size: 25px;
 }
 .navbar-left{
  padding-top: 3px;
  padding-right: 5px;
 }
 .navbar-inverse .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #B0D9DB;
  color: #000000;

}
.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active> a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #B0D9DB;
    color: #000000;
    font-weight:bold;
}
hr{
  border-color: #43899E ;
}
a{
  color: #7A2E34;
}
a:hover {
    text-decoration: none;
    color: #B5454D;
}

a:active {
    text-decoration: none;
    color: #B5454D;
}
.pic{
    max-width: 800px;
}

.modal-contain img{
  max-width: 100%;
}
