
<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#" prefix="og: http://ogp.me/ns#">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Natalie Rumak - Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">


      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
 <script src="https://code.angularjs.org/1.4.3/angular.js"></script>

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel = "stylesheet" href="style.css" />
     <script src="js/script.js"></script>
      <script src="https://use.fontawesome.com/1e643834a8.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     <meta property="og:image" content="img/dots.png" />
  </head>

  <body class="background" ng-controller="MainCtrl as main"> 

    <nav class="navbar navbar-inverse navbar-fixed-top center">
      <div class="container-fluid nav-contain">
        <div class="navbar-header">
          <!-- collapses the navigation bar -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 <!-- Natalie Rumak -->
        <!-- here I initialize the tabs and which one is active -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=" buffer"><a href="index.html" class="home-appear">Home</a></li>
            <li class=" buffer"><a href="projects.html">Projects</a></li> 
            <li class="buffer"><a href="about.html">About Me</a></li>
           <li><!-- <a href="index.html"> --><img class="logo-appear" src="img\logolight_sat.png" title="logo" width="150"><!-- </a> --></li>
            <li class="buffer"><a href="resume.html">Resume</a></li> 
            <li class="buffer"><a href="contact.html">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse --> <div class="blueline"></div>
      </div> 
    </nav>  
<img width = "100%" src= "img/villagers/banner2.png"/>
  <div class="contain_gallery">
      <div class="starter-template ">
        <div class = "backbutton">
<a href = "projects.html"> <i class=" fa  fa-caret-left fa-3x " aria-hidden="true"></i>    <span class="fa fa-text"><br>Return</span></a>
</div>
        <h1 class = " title page-title"> Villagers </h1>

        <h4 class="text"> Villager models created using Maya LT. Textures were created in Krita. </h4>




         <div class="gallery_page" ng-repeat="item in main.villager_low">
                 <a href="#" ng-click="changePage('villager'); setindex($index);  " data-toggle="modal" data-target="#myModal">
                    <img class = "gallery_image" ng-src="{{item.image}}"/>
                

              </a>
              
            
           </div>

        
      </div> 
      <div style = " padding-bottom: 10px;"class = "bottom text">
       

      </div>

 <!-- Natalie Rumak -->
    </div><!-- /.container -->
 <!-- Natalie Rumak -->

<div id= "myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" ng-repeat="do in picIndex">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h2 class="page-title"> {{do.title}} </h2>
            </div>
            <div class="modal-body" ng-repeat="do in picIndex">
              <img ng-src="{{do.image}}" style="width:100%; height: auto;" >
                  <span class = "image_title"> <span> {{do.description}} </span></span>
                  <button type="button" class="btn btn-default btn-lg leftArrow" ng-click="javalog(); subIndex()"><i class="fa fa-caret-left fa-5x" aria-hidden="true">    </i></button>
                  <button type="button" class="btn btn-default btn-lg rightArrow" ng-click="javalog(); addIndex()"><i class="fa fa-caret-right fa-5x" aria-hidden="true"></i></button>
            </div> 

          </div>
        </div>
      </div>
      </div>

 
<footer class="footer">
      <div class="container2">
        <div class = "totop">
          <div class = "uptext"> <a href="#"> <span class="fa fa-caret-up fa-4x" aria-hidden="true"></span></a>
          </div>
          <div class = " backfoot">
            <a href = "projects.html"> <i class=" fa fa-caret-left fa-3x" aria-hidden="true"></i><span class="fa fa-text"><br>Return</span></a>
          </div>
        </div>
        <p>
          <i class="fa fa-copyright" aria-hidden="true"></i> Natalie Rumak 2016 <br>
          Icons  <i class="fa fa-copyright" aria-hidden="true"></i> Font Awesome
        </p>
      </div>
    </footer>
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
 <!-- Natalie Rumak -->  <!-- Natalie Rumak -->  <!-- Natalie Rumak --> <!-- Natalie Rumak -->