body{
    background-color: $background-color;
    position:relative;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 10px;
    font-family:  Verdana, Arial, Tahoma, sans-serif;
    &>*{
        grid-column:2 /span 1;
    }
}
h2{
    font-weight:normal;
    font-size: 2em;
}
main{
    // scroll edits to this
    margin-top:80px;
    text-align:center;
    font-family:  'Roboto', helvetica, Tahoma, sans-serif;
}