body{
    // background-image: linear-gradient($background-color-dark,$background-color-dark, $dark-grey);  
    position:relative;
    margin:auto;
    font-family:  Verdana, Arial, Tahoma, sans-serif;
    background-color: $background-color;
}
h2{
    font-weight:normal;
    font-size: 2em;
}
main{
    max-width: 1000px;
    margin:auto;
    margin: auto 10px;
    text-align:center;
    font-family:  'Roboto', helvetica, Tahoma, sans-serif;
    @include large-and-above{
        margin:auto;
    }
    
}

.background-image{
    background-image: url('../images/sketch.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position:top;
    background-attachment: fixed;
}