$green: #5C9692;
$dark-grey: #3E3C3B;
$off-white: #F7F7F7;
$dark-white:rgba(0, 0, 0, 0.2);;



$nav-color: $dark-grey;
$highlight: $green;
$background-color: $off-white;
$widget-color: $off-white;
$shadow-color: $dark-white;




/* ICON COLORS */

$html-orange: rgb(206, 59, 22);
$css-blue: rgb(40, 139, 201);
$js-green:rgb(97, 156, 48);
$react-blue:rgb(12, 172, 212);
$redux-purple: #764ABC;
$scss-pink: #CF649A;
$krita-pink: #8F1C41;
$adcc-red: #D41818;
$maya-green:#019493;

$html-tag: $html-orange;
$css-tag: $css-blue;
$js-tag: $js-green;
$react-tag: $react-blue;
$redux-tag: $redux-purple;
$scss-tag: $scss-pink;
$krita-tag: $krita-pink;
$adcc-tag: $adcc-red;
$maya-tag: $maya-green;
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');