.btn{
    text-decoration: none;
    padding: 10px;
}

.btn-nav{
    color: $nav-color;
    font-size: 1.5em;
    &:focus,&:hover{
        color:  $highlight;
    }
}

.links{
    &>a{
        border: 2px solid $shadow-color;
        padding: 10px 20px;
        margin: 0px 10px 25px 10px;
        font-family: 'Montserrat',Arial, Helvetica, sans-serif;
        color: $nav-color;
        font-size: 1.2em;
        font-weight:bold;
        display:inline-block;
        text-decoration: none;
        &:hover{
            color: $highlight;
            border-color: $highlight;
        }
    }
}

.btn-send{
    background: $highlight;
    border:none;
    color: $background-color;
    width: 140px;
    font-weight:bold;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    
}

.return-button{
    background: $highlight;
    border:none;
    text-align: center;
    width: 140px;
    font-weight:bold;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    >*{
       text-decoration: none;   
        color: $background-color;
        
    }
   
}