#contact-form{
    max-width: 1200px;
    width:100%;
    display:inline-block;
    &>fieldset{
        border:none;
        margin: 0px 0px 20px 0px;
        >legend{
            padding-top: 20px;
            font-size: 1.4em;
            color: $highlight;
        }
    }
}

.form-list{
    
    list-style: none;
    padding-left: 0px;
    width: 70%;
    margin:auto;
    @include small-media{
        width: 100%;
    }
    & > li{
        display:flex;
        align-items: center;
        padding: 10px 0px;
        flex-wrap: nowrap;

        & > label{
            
            padding-right: 20px;
            max-width: 200px;
            min-width: 50px;
            text-align: right;
            font-weight: bold;
            @include medium-and-above{
                padding-right: 50px; 
                margin-left:10px;
                min-width: 80px;
            }
        }
        & > label + textarea{
            min-height: 150px;
        }
       
    }
}

textarea,input[type = email],input[type = text], {

    max-width:450px;
    width:100%;
    padding: 15px 10px;
    margin: 2px 0;
    @include large-and-above{
        padding: 15px 20px;
    } 
    }
.form-btn-container{
    max-width:492px;
    width:100%;
    text-align:right;
}