.main-header{
    position:sticky;
    top:0px;
    right:0px;
    left:0px;
    background: $background-color;
    height:80px;
}
.header-back{
    position:fixed;
    top:0px;
    height:80px;
    width:100%;
    grid-column:1/-1;
    background-color : $background-color;
}
.header-container{
    width:100%;
    display:flex;
    margin-top: 15px;
}
.nav{
    margin-left:auto;
    &> ul  {
        list-style: none;
        display:flex;  
    }
    
}


.header-title{
    font-size: 1.8em;
    margin:auto 0px;
    font-family: 'Roboto', sans-serif;
   
}