.main-header{
    position:sticky;
    top:0px;
    right:0px;
    left:0px;
    background: $background-color;
    width:100%;
    
}

.header-container{
    max-width:1200px;
    padding: 0px 60px;
    display:flex;
    margin-top: 15px;
    margin:15px auto 0px auto;
    @include small-media{
        flex-wrap:wrap;
        padding: 0px;
        >*{
            text-align:center;
            flex-basis:100%;
        }
    }
}
.nav{
        margin-left:auto;

    
    &> ul  {
        list-style: none;
        display:flex; 
        @include small-media{
            justify-content: center;
            padding-left: 0px;
        } 
    }
    
}


.header-title{
    font-size: 1.8em;
    margin:auto 0px;
    font-family: 'Roboto', sans-serif;
   
}

.social{
    display: inline-block;
    min-width: 100px;
    >a{
        padding: 5px;
    }
    
}
.social-header{
    @extend .social;
    @include small-media{
        display:none;
    }
}