.tools{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.tag{
    text-align:center;
    min-width:80px;
    max-width:100px;
    padding: 10px;
    margin:5px;
    border-radius:10px;
    font-weight:bold;
    color:$background-color;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    background-color: $tag-color;
    cursor:default;
    box-shadow: 2px 2px 0px 2px $shadow-color;
    @include small-media{
        min-width:40px;
        font-size: .7em;
    }
}
