.tools{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.tag{
    text-align:center;
    min-width:80px;
    max-width:100px;
    padding: 10px;
    margin:5px;
    border-radius:10px;
    font-weight:bold;
    color:$background-color;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    
}
.html-tag{
    background-color:$html-tag;
}
.css-tag{
    background-color:$css-tag;
}
.js-tag{
    background-color:$js-tag;
}
.scss-tag{
    background-color:$scss-tag;
}
.react-tag{
    background-color:$react-tag;
}
.redux-tag{
    background-color:$redux-tag;
}
.adcc-tag{
    background-color:$adcc-tag;
}
.krita-tag{
    background-color:$krita-tag;
}
.maya-tag{
    background-color:$maya-tag;
}