.widget{
    margin:50px auto;
    background-color: $widget-color;
    box-shadow: 0px 2px 5px 2px $shadow-color;
    border-radius: 5px;
    overflow:hidden;
}
.proj-widget{
   @extend .widget;
    &>.widget-title{ 
        font-size: 2em;
    }
    &>.preview{
        width:100%;
    }
    &>.desc{
        margin: 0px 80px 10px 80px;
        text-align:left;
        font-size: 1.2em;
    }
    &>.tools{
        border-top: 1px solid $shadow-color;
        border-bottom: 1px solid $shadow-color;
        padding: 20px;
        margin: 15px 80px;
        }
}
.about-widget{
    display:flex;
    padding: 20px;
    &>.about-image{
        margin: 50px 10px;
        
        
        
       
        &>img{
            border-radius: 50%;
            max-width: 280px;
            max-height:280px;
            padding:0px;
            
        }

    }
    &>.about-info{
        margin: auto 30px;
        text-align:left;
        &>.info{
            font-size: 1.2em;
        }
        
        &>h3{
            font-size: 1.3em;
            font-family: 'Montserrat',Arial, Helvetica, sans-serif;
            color: $nav-color;
        }
        &>.tools{
       
            border-top: 1px solid $shadow-color;
            border-bottom: 1px solid $shadow-color;
            padding: 10px;
            
            }
    }
}